BOT_TOKEN=your_telegram_bot_token_here
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/rentbot
PROXY_URL=http://127.0.0.1:8080

# Yookassa Integration
YOOKASSA_SHOP_ID=your_shop_id_here
YOOKASSA_SECRET_KEY=your_secret_key_here

# Admin IDs
ADMIN_IDS=150190533,506450098

# Redis & Webhook
REDIS_URL=redis://localhost:6379/0
USE_WEBHOOK=False
WEBHOOK_URL=https://your-domain.com/webhook
